{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'taskmanager/style.css' %}" />
<title>Modifier la tache</title>

<div class="header">
    <h1>Modifier une tache</h1>
</div>

<br>

{# Formulaire pour modifier une tache #}
<form method="post" action="{% url 'edittask' t.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Modifier">
</form>