<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project {{p.Name}}</title>
</head>
<body>

<button onclick="window.location.href = 'http://127.0.0.1:8000/taskmanager/deconnexion';">Log Out</button>

<button onclick="window.location.href = 'http://127.0.0.1:8000/taskmanager/projects';"><-Projects</button>

<h1>Project {{p.Name}}</h1>

<button onclick="window.location.href = 'http://127.0.0.1:8000/taskmanager/newtask/{{p.id}}';">Ajouter une tache</button>

<table>
    <th>Task</th>
    <th>Assignee</th>
    <th>Start date</th>
    <th>Due date</th>
    {% for task in tasks %}
        <tr>
            <th><a href="http://127.0.0.1:8000/taskmanager/task/{{task.id}}">{{task.name}}</a></th>
            <th>{{task.assignee}}</th>
            <th>{{task.start_date}}</th>
            <th>{{task.due_date}}</th>
            <th>{{task.id}}</th>
            <th><button onclick="window.location.href = 'http://127.0.0.1:8000/taskmanager/edittask/{{task.id}}';">Modifier</button></th>

            <br>
        </tr>
    {% endfor %}
</table>

</body>
</html>