<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'taskmanager/style.css' %}" />
        <title>{{t.name}}</title>
    </head>

    <body>

        {# Groupe de boutons pour se deconnecter ou retourner à la liste des taches #}
        <div class="col-3 col-s-3 menu">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success btn-lg" onclick=" window.location.href = 'http://127.0.0.1:8000/taskmanager/deconnexion';">Log Out</button>
                    <button type="button" class="btn btn-success btn-lg" onclick="window.location.href = 'http://127.0.0.1:8000/taskmanager/project/{{t.project.id}}';">{{t.project.name}}</button>
                </div>
            </div>

            <div class="header">
                <h1>{{t.name}}</h1>
            </div>

        <div class="row">

            {# Details de la tache #}
            <div class="col-4 col-s-4 menu">
                <h2>{{t.description}}</h2>

                <table>
                    <tr>
                        <td><strong>Assignee</strong></td>
                        <td>{{t.assignee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Start date</strong></td>
                        <td>{{t.start_date}}</td>
                    </tr>
                    <tr>
                        <td><strong>Due date</strong></td>
                        <td>{{t.due_date}}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{t.status}}</td>
                    </tr>
                </table>
            </div>


            {# Journal des notes #}
            <div class="col-6 col-s-9">
                <h2>Historique</h2>

                    <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href = 'http://127.0.0.1:8000/taskmanager/newjournal/';">Ajouter une note</button>

                    <table>
                        {% for journal in journals %}
                            <tr>
                                <td><strong>{{journal.author}}</strong></td>
                                <td>{{journal.date}}</td>
                                <td>{{journal.entry}}</td>
                                <br>
                            </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </body>
</html>